@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=El+Messiri:wght@400;500;600;700&family=Marhey:wght@300;400;500;600;700&family=Noto+Nastaliq+Urdu:wght@400;500;600;700&family=Rakkas&family=Vibes&display=swap");
:root {
  --btn-p:#541bb3d1;
  --primaryClr:#0b5ed7;
}

@font-face {
  font-family: "astra";
  src: url(../wbf/astra.woff) format("woff");
}
.fw-500 {
  font-weight: 500 !important;
}

.ray-logo {
  max-width: 40%;
}
.ray-logo.mxw5 {
  max-width: 20%;
}
.ray-logo.prons {
  max-width: 30%;
}

.ray-logo2 {
  max-width: 50%;
}

.wdth-1 {
  max-width: 100%;
}

.max-width-05 {
  max-width: 40%;
}

.wdth-02 {
  max-width: 70%;
}

.mt-md-5 {
  margin-top: 3rem;
}

@media (max-width: 767px) {
  .mt-md-5 {
    margin-top: 2rem;
  }
  .ray-logo {
    max-width: 40%;
  }
  .ray-logo.mxw5 {
    max-width: 30%;
  }
  .ray-logo.prons {
    max-width: 40%;
  }
  .ray-logo.max-50 {
    max-width: 50%;
  }
  .ray-logo2 {
    max-width: 100%;
  }
  .wdth-1 {
    max-width: 100%;
  }
  .max-width-05 {
    max-width: 40%;
  }
  .wdth-02 {
    max-width: 70%;
  }
}
.center {
  align-self: center;
}

.bg-smoth {
  background-color: #ffffff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.vis-0 {
  opacity: 0;
}

.sswiper-slide,
.accordion-body0 {
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.form-comp .container {
  padding: 15px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

.text-body {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.75em;
  line-height: 1.4em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.intro {
  padding-top: 3rem !important;
  position: absolute;
  right: 0;
  z-index: 2;
  left: 0;
  height: 100vh;
  background-color: #4527a0;
  background-image: linear-gradient(270deg, #c5cae9 0%, var(--primaryClr) 100%);
  background-image: url("../img/1.png");
  background-size: cover;
}
.intro .display-5 {
  display: flex !important;
  justify-content: space-between !important;
  color: #babec1 !important;
}
.intro .display-1 {
  font-size: 4rem;
  font-weight: 600;
}
.intro .hero {
  height: 100%;
}
.intro .hero .join-w {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1137254902) 60%, rgba(0, 0, 0, 0) 90%);
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.intro .hero .join-w:hover h3 {
  transition-duration: 0.2s;
  color: white;
}
.intro .hero .join-w:hover h3 span.join {
  color: white;
  transition-duration: 0.1s;
  font-size: 17px !important;
}
.intro .hero .join {
  background-color: rgba(2, 1, 4, 0.1882352941) !important;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 3px;
  margin: auto;
  padding-right: 12px;
}
.intro .time-line {
  padding: 4px;
  width: 100%;
  position: absolute;
  bottom: 13px;
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.1215686275) 0%, black 100%);
  margin: 0px;
}
.intro .time-line p {
  margin: 0px;
  color: white;
  font-weight: 500;
}

body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  text-align: center;
  transition: 0.9s;
}
.preloader .sk-circle {
  transition: 0.5s;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-45%);
}
.preloader .sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.preloader .sk-circle .sk-child::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.preloader .sk-circle .sk-circle2 {
  transform: rotate(30deg);
}
.preloader .sk-circle .sk-circle2::before {
  animation-delay: -1.1s;
}
.preloader .sk-circle .sk-circle3 {
  transform: rotate(60deg);
}
.preloader .sk-circle .sk-circle3::before {
  animation-delay: -1s;
}
.preloader .sk-circle .sk-circle4 {
  transform: rotate(90deg);
}
.preloader .sk-circle .sk-circle4::before {
  animation-delay: -0.9s;
}
.preloader .sk-circle .sk-circle5 {
  transform: rotate(120deg);
}
.preloader .sk-circle .sk-circle5::before {
  animation-delay: -0.8s;
}
.preloader .sk-circle .sk-circle6 {
  transform: rotate(150deg);
}
.preloader .sk-circle .sk-circle6::before {
  animation-delay: -0.7s;
}
.preloader .sk-circle .sk-circle7 {
  transform: rotate(180deg);
}
.preloader .sk-circle .sk-circle7::before {
  animation-delay: -0.6s;
}
.preloader .sk-circle .sk-circle8 {
  transform: rotate(210deg);
}
.preloader .sk-circle .sk-circle8::before {
  animation-delay: -0.5s;
}
.preloader .sk-circle .sk-circle9 {
  transform: rotate(240deg);
}
.preloader .sk-circle .sk-circle9::before {
  animation-delay: -0.4s;
}
.preloader .sk-circle .sk-circle10 {
  transform: rotate(270deg);
}
.preloader .sk-circle .sk-circle10::before {
  animation-delay: -0.3s;
}
.preloader .sk-circle .sk-circle11 {
  transform: rotate(300deg);
}
.preloader .sk-circle .sk-circle11::before {
  animation-delay: -0.2s;
}
.preloader .sk-circle .sk-circle12 {
  transform: rotate(330deg);
}
.preloader .sk-circle .sk-circle12::before {
  animation-delay: -0.1s;
}
.preloader::before, .preloader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: #541bb3;
  transition: 0.9s;
}
.preloader::after {
  left: auto;
  right: 0;
}
.preloader.preloader-deactivate {
  visibility: hidden;
}
.preloader.preloader-deactivate::after, .preloader.preloader-deactivate::before {
  width: 0;
}
.preloader.preloader-deactivate .sk-circle {
  opacity: 0;
  visibility: hidden;
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
nav {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.1490196078) 30%, rgba(0, 0, 0, 0.0705882353) 80%);
}

.navbar-nav .nav-item {
  margin: 0px 3rem;
}
.navbar-nav .nav-item .nav-link {
  color: white;
}

/* start intro  */
.h-txt,
.display-1,
.display-4,
.display-5 {
  color: #ffffff;
}

.navbar-brand img {
  max-width: 10rem;
}

.nav-item {
  position: relative;
  font-size: x-large;
}
.nav-item:hover {
  transition: all 0.3s;
  transform: translateX(-5px);
}
.nav-item:hover .nav-link::after {
  content: "";
  position: absolute;
  width: 90%;
  /* top: 0px; */
  left: 15px;
  height: 1px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.346);
  animation: sh12 0.5s forwards;
}
.nav-item .nav-link:hover {
  color: white;
}

.display-4 {
  font-size: 1.5rem;
}

.btn {
  background-color: var(--primaryClr);
  border: none;
}

.join {
  background-color: #5625d5;
}
.join::after {
  font-family: "FontAwesome";
  content: "\f104";
  margin: 0px 10px 0px 10px;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(231, 241, 255, 0.2588235294);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  margin-right: auto !important;
  margin-left: 5px !important;
}

.vendors .vend {
  justify-content: space-between;
  margin-bottom: 15px;
}
.vendors .vend h2, .vendors .vend h4 {
  align-self: center;
}

@keyframes sh12 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(-8px, -3px);
  }
}
.smember-wr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.smember-wr .sswiper-slide {
  width: 30%;
  margin: 10px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.smember-wr .sswiper-slide img {
  display: none;
}

footer {
  background-image: linear-gradient(90deg, #4100e4 0%, #422c7a 30%);
}
footer .form-comp .container {
  border-radius: 10px;
}
footer hr {
  color: rgb(255, 255, 255);
  outline-width: 2px;
  opacity: 1 !important;
}
footer .copy-rights {
  align-self: center;
}
footer .social-media {
  -moz-column-gap: 15px;
       column-gap: 15px;
  height: 3rem;
  justify-content: center;
  align-items: end;
  align-self: center;
}
footer .social-media .itm {
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: 5px;
  outline-color: white;
  outline-style: groove;
  outline-width: 1px;
}
footer .social-media .itm svg {
  font-size: 20px;
  color: rgba(235, 225, 225, 0.8588235294);
}

.vend {
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.whats-call {
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  bottom: 83px;
  position: fixed;
  right: 3rem;
  position: fixed;
  display: none;
}
.whats-call img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .ray-logo {
    margin-left: 10px;
  }
  .hero-img {
    max-width: 17rem;
  }
  .hero1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
  }
  .swiper-button-prev {
    right: 0px !important;
  }
}
@media (min-width: 1115px) {
  .smember-wr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .smember-wr .sswiper-slide {
    width: 50%;
    margin: 10px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .smember-wr .sswiper-slide img {
    display: none;
  }
}
@media (max-width: 767px) {
  .display-1 {
    font-size: 27px !important;
  }
  .fs-sml-1 p {
    font-size: small;
  }
  .hero-img {
    max-width: 10rem;
  }
  .intro {
    height: 72vh;
    padding-top: 0px !important;
    background-size: cover;
    background-attachment: fixed;
  }
  .intro .hero1 {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .intro .navbar-collapse ul {
    position: absolute;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    padding-right: 0px;
  }
  .intro .navbar-collapse ul li {
    transition-timing-function: smooth;
    margin: 0px 15px;
  }
  .intro .navbar-collapse ul li:first-child {
    animation: navdown 0.5s 0s ease-out forwards;
  }
  .intro .navbar-collapse ul li:nth-child(2) {
    animation: navdown 0.6s 0.1s ease-out forwards;
  }
  .intro .navbar-collapse ul li:nth-child(3) {
    animation: navdown 0.7s 0.2s ease-out forwards;
  }
  .intro .hero {
    padding-top: 75px;
  }
  .vendors .vend {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .vend {
    margin-bottom: 60px;
  }
  .col-6.col-md-2.mt-2 {
    display: flex;
    justify-content: center;
  }
  .swiper-w {
    row-gap: 30px !important;
    justify-content: space-between;
  }
  .swiper-w .swiper-s img {
    width: 40vw !important;
  }
  .smember-wr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .smember-wr .sswiper-slide {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin: 10px auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .smember-wr .sswiper-slide img {
    display: none;
  }
  footer .row .col-md-2.mt-5,
  footer .row .col-md-4.mt-5 {
    margin-top: 10px !important;
  }
  footer .row .col-md-4:not(:first-child) {
    margin-top: 5px;
  }
}
@keyframes navdown {
  0% {
    font-size: 0px;
    display: block;
  }
  100% {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */