

@use 'helpper/_var';

@use 'intro';
$transition: .5s;
$main-color:#541bb3;

body{
  direction: rtl;
  font-family: 'Tajawal',sans-serif;
  // font-family: 'Almarai', sans-serif;
  // font-family: 'astra';
}

.plyr__control--overlaid::before,
.plyr__control--overlaid::after,
.btn-circle.ripple::before,
.btn-circle.ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}
.plyr__control--overlaid::after,
.btn-circle.ripple::after {
  opacity: 0.6;
  animation: ripple-2 2s infinite ease-in-out;
  animation-delay: 0.5s;
}

@keyframes ripple-1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple-2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  text-align: center;
  transition: .9s;

  .sk-circle {
      transition: $transition;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      right: 0;
      top: 45%;
      transform: translateY(-45%);

      .sk-child {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;

          &::before {
              content: '';
              display: block;
              margin: 0 auto;
              width: 15%;
              height: 15%;
              background-color: white;
              border-radius: 100%;
              animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          }
      }
      .sk-circle2 {
          transform: rotate(30deg);

          &::before {
              animation-delay: -1.1s;
          }
      }
      .sk-circle3 {
          transform: rotate(60deg);

          &::before {
              animation-delay: -1s;
          }
      }
      .sk-circle4 {
          transform: rotate(90deg);

          &::before {
              animation-delay: -0.9s;
          }
      }
      .sk-circle5 {
          transform: rotate(120deg);

          &::before {
              animation-delay: -0.8s;
          }
      }
      .sk-circle6 {
          transform: rotate(150deg);

          &::before {
              animation-delay: -0.7s;
          }
      }
      .sk-circle7 {
          transform: rotate(180deg);

          &::before {
              animation-delay: -0.6s;
          }
      }
      .sk-circle8 {
          transform: rotate(210deg);

          &::before {
              animation-delay: -0.5s;
          }
      }
      .sk-circle9 {
          transform: rotate(240deg);

          &::before {
              animation-delay: -0.4s;
          }
      }
      .sk-circle10 {
          transform: rotate(270deg);

          &::before {
              animation-delay: -0.3s;
          }
      }
      .sk-circle11 {
          transform: rotate(300deg);

          &::before {
              animation-delay: -0.2s;
          }
      }
      .sk-circle12 {
          transform: rotate(330deg);

          &::before {
              animation-delay: -0.1s;
          }
      }
  }
  &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;
      height: 100%;
      z-index: -1;
      background: $main-color;
      transition: .9s;
  }
  &::after {
      left: auto;
      right: 0;
  }
  &.preloader-deactivate {
      visibility: hidden;

      &::after, &::before {
          width: 0;
      }
      .sk-circle {
          opacity: 0;
          visibility: hidden;
      }
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
      transform: scale(0);
  } 40% {
      transform: scale(1);
  }
}




nav{
  background-image: linear-gradient(90deg,#00000000 15%,#00000026 30%,#00000012 80%);
}
.navbar-nav .nav-item{
  margin:0px 3rem ;
  .nav-link{
    color: white;
  }
}
/* start intro  */




.h-txt,
.display-1,
.display-4,
.display-5
{
  color:#ffffff;
}
.navbar-brand img{
  max-width: 10rem;
}

.nav-item{
  position: relative;
  font-size: x-large;
  &:hover{
    transition: all 0.3s;
    transform: translateX(-5px) ;
    
    .nav-link::after{
      content: "";
      position: absolute;
      width: 90%;
      /* top: 0px; */
      left: 15px;
      height: 1px;
      // box-shadow:0px -7px 23px 4px rgba(69, 39, 160, 0.5098039216);
      // box-shadow: rgba(4, 3, 6, 0.761) 0px 0px 150px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.346);
      animation: sh12 0.5s forwards;
    }

  }
    
  .nav-link{

    &:hover{
      color: white;
    }
  }
}
.display-4{
  font-size: 1.5rem;
}

.btn{
  background-color: var(--primaryClr);
  border: none;
}
.join{
  // margin-left: auto;
  background-color: #5625d5;
  &::after{
    // &:after {
      // }
      font-family: "FontAwesome";
      content: "\f104";
      // position: relative;
      margin:0px 10px 0px 10px;
      // top: 50%;
      
    }
}
.accordion-button{
  
  &:not(.collapsed) {
    background-color: #e7f1ff42;
    }
    &:focus{
      box-shadow: none;
    }

  &::after{
    margin-right: auto !important;
    margin-left: 5px !important;
    
  }
}
// الرعاه
.vendors {
  .vend{
    justify-content: space-between;
    // justify-content: space-evenly;
    margin-bottom: 15px;

    h2,h4,h5{
      align-self: center;
    }
  }
}

@keyframes sh12 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 1;
    
    // transition: all 1s;
    transform: translate(-8px, -3px);

  }
  
}



.smember-wr{
  display: grid;
  // min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;

  .sswiper-slide{
    width: 30%;
    
    margin: 10px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  img{
    display: none;
  }
  }
}


footer{
  .form-comp{

  .container{
    // background-color: #ffffff05;
    
    // outline-style: groove;
    border-radius: 10px;
  }
  }
  hr{
    color: rgb(255, 255, 255);
    outline-width: 2px;
    // outline-style: inset;
    opacity: 1 !important;
  }
  // background-color: black;
  background-image: linear-gradient(90deg,#4100e4 0% ,#422c7a 30%);
  .copy-rights{
    align-self: center;
  }
  .social-media{
    column-gap: 15px;
    // width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: end;
    align-self: center;
    .itm{
      padding: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: 5px;
      outline-color: white;
      outline-style: groove;
      outline-width: 1px;
      svg{
        font-size: 20px;
        color: #ebe1e1db;
      }
    }
  }
  // .ground{
  //   // & div{
  //   //   // margin-left: auto;
  //   //   // margin-right: auto;
  //   // }
  // }
}
.vend{
 padding: 15px 15px ;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  
}

.whats-call{
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  bottom: 83px;
  position: fixed;
  right: 3rem;
  position: fixed;
  img{
    max-width: 100%;
  }
  display: none;
}
@media (min-width:767px) {
  .ray-logo{  margin-left: 10px;  }

  .hero-img{
    max-width:17rem;
  }

  .hero1{
    // height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
  }
  .swiper-button-prev{
    right: 0px !important;
  }





}
@media (min-width:1115px) {


  .smember-wr{
    display: grid;
    row-gap: 16px;
    // min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  
    .sswiper-slide{
      width: 50%;
      // height: 250px;
      
      margin: 10px 10px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    img{
      display: none;
    }
    }
  }
  
}


@media (max-width:350px){
  #about{
    padding-top: 0px !important;
  }
}
// @media

@media only screen and (min-width:768px) and (max-width:1000px) {
  .intro .display-1{
    font-size: 3rem !important;
  }
}
@media (max-width:767px) {
  .display-1 {
    font-size: 25px !important;
  }
  // .accordion-body{
    // padding-left: 27px;
  // }

  .fs-sml-1{
    p{

      font-size: small;
    }
  }
  .hero-img{
    max-width:10rem;
  }
  .ray {

    .swiper-w{

      
      .swiper-s {

        h2{
          
          
        } 
      }
    }
  }
  .intro {    
    height: 80vh;
    padding-top: 0px !important;
    // background-color: #4527a0;
    // background-image: linear-gradient(270deg, #c5cae9 0%, #4527a0 100%);
    // background-image: url(../img/fogy.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    .hero1{
      height: 34vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .navbar-collapse{
      ul{
        position: absolute;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        padding-right: 0px;
        // top: 50px;
        li{
          transition-timing-function: smooth;
          margin: 0px 15px;
          &:first-child{
            // display: none;
            // opacity: 0;
            
            animation: navdown 0.5s 0s ease-out   forwards;
          }
          &:nth-child(2){
            // display: none;
            animation: navdown 0.6s 0.1s ease-out    forwards;
            
          }
          &:nth-child(3){
            // display: none;
            animation: navdown 0.7s 0.2s ease-out    forwards;

          }
          
        }
      }
    }
    .hero{
      padding-top: 75px;
    }


  }
  .vendors{

    .vend{
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  .vend{
    margin-bottom: 60px;
  }

  .col-6.col-md-2.mt-2 {
    display: flex;
    justify-content: center;
  }
  .swiper-w{
    row-gap: 30px !important;
    justify-content: space-between ;
    // justify-content: space-between;
    // column-gap: 20px;
    .swiper-s {
      .warper .swiper-slide:first-child{
        // margin-right: 2rem;

      }

      img {
        width: 40vw !important;
      }
    }
  }
  .smember-wr{
    display: grid;
    // min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
  
    .sswiper-slide{
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      // height: 250px;
      
      margin: 10px auto;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    img{
      display: none;
    }
    }
  }
  
  footer{


    .row{
      .col-md-2.mt-5,
      .col-md-4.mt-5{
        margin-top: 10px !important;

      }

      .col-md-4:not(:first-child){
        margin-top: 5px;
      }
    }
  }
  
}

@keyframes navdown {
  0%{
    font-size: 0px;
    display: block;
  }
  50%{
    // opacity: 0.5 !important;
    // transform: translateY(-5px);
  }
  100%{
    // opacity: 1 !important;
    font-size: 1.5rem;
          // transform: translateY(0px);

  }
}