

@use 'helpper/_var';

@use 'intro';
@font-face {
  font-family: 'astra';
  src: url(../wbf/astra.woff)  format("woff");
  
}


body{
  direction: rtl;
  font-family: 'Tajawal',sans-serif;
  // font-family: 'Almarai', sans-serif;
  // font-family: 'astra';
}

nav{
  background-image: linear-gradient(90deg,#00000000 15%,#00000026 30%,#00000012 80%);
}
.navbar-nav .nav-item{
  margin:0px 3rem ;
  .nav-link{
    color: white;
  }
}
/* start intro  */



.overlay{
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(90deg, #4c3473 0%, #5119ab 100%); */
  opacity: 0.3;
  z-index: -100;
}
.h-txt,
.display-1,
.display-4,
.display-5
{
  color:#ffffff;
}
.navbar-brand img{
  max-width: 10rem;
}

.nav-item{
  position: relative;
  font-size: x-large;
  &:hover{
    transition: all 0.3s;
    transform: translateX(-5px) ;
    
    .nav-link::after{
      content: "";
      position: absolute;
      width: 90%;
      /* top: 0px; */
      left: 15px;
      height: 1px;
      // box-shadow:0px -7px 23px 4px rgba(69, 39, 160, 0.5098039216);
      // box-shadow: rgba(4, 3, 6, 0.761) 0px 0px 150px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.346);
      animation: sh12 0.5s forwards;
    }

  }
    
  .nav-link{

    &:hover{
      color: white;
    }
  }
}
.display-4{
  font-size: 1.5rem;
}

.btn{
  background-color: var(--primaryClr);
  border: none;
}
.join{
  // margin-left: auto;
  background-color: #5625d5;
  &::after{
    // &:after {
      // }
      font-family: "FontAwesome";
      content: "\f104";
      // position: relative;
      margin:0px 10px 0px 10px;
      // top: 50%;
      
    }
}
.accordion-button{
  
  &:not(.collapsed) {
    background-color: #e7f1ff42;
    }
    &:focus{
      box-shadow: none;
    }

  &::after{
    margin-right: auto !important;
    margin-left: 5px !important;
    
  }
}
// الرعاه
.vendors {
  .vend{
    justify-content: space-between;
    margin-bottom: 15px;

    h2{
      align-self: center;
    }
  }
}

@keyframes sh12 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 1;
    
    // transition: all 1s;
    transform: translate(-8px, -3px);

  }
  
}


.member-wr{
  row-gap: 10px;

  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
// }
  .swiper-slide{
    width: 170px;
    align-self: center;
    display: flex;
    
    img{
      width: inherit;
      border-radius: 10px;
    }
  }
  
}



footer{
  hr{
    color: rgb(255, 255, 255);
    outline-width: 2px;
    // outline-style: inset;
    opacity: 1 !important;
  }
  // background-color: black;
  background-image: linear-gradient(90deg,#4100e4 0% ,#422c7a 30%);
  .copy-rights{
    align-self: center;
  }
  .social-media{
    column-gap: 15px;
    // width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: end;
    align-self: center;
    .itm{
      padding: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: 5px;
      outline-color: white;
      outline-style: groove;
      outline-width: 1px;
      svg{
        font-size: 20px;
        color: #ebe1e1db;
      }
    }
  }
  // .ground{
  //   // & div{
  //   //   // margin-left: auto;
  //   //   // margin-right: auto;
  //   // }
  // }
}


.whats-call{
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  bottom: 83px;
  position: fixed;
  right: 3rem;
  position: fixed;
  img{
    max-width: 100%;
  }
  display: none;
}
@media (min-width:767px) {

  .hero-img{
    max-width:17rem;
  }

  .hero1{
    // height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 15px;
  }
  .swiper-button-prev{
    right: 0px !important;
  }

  .member-wr{
    // row-gap: 10px;
  
    // margin-bottom: 3rem;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  // }
    .swiper-slide{
      width: 250px;
      // align-self: center;
      // display: flex;
      
      img{
        width: inherit;
        border-radius: 10px;
      }
    }
    
  }




}
@media (max-width:767px) {
  .display-1 {
    font-size: 27px !important;
  }
  .accordion-body{
    padding-left: 27px;
  }


  .hero-img{
    max-width:10rem;
  }
  .ray {

    .swiper-w{

      
      .swiper-s {

        h2{
          
          
        } 
      }
    }
  }
  .intro {    
    height: 72vh;
    padding-top: 0px !important;
    // background-color: #4527a0;
    // background-image: linear-gradient(270deg, #c5cae9 0%, #4527a0 100%);
    // background-image: url(../img/fogy.jpg);
    background-size: cover;
    background-attachment: fixed;
    .hero1{
      height: 34vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .navbar-collapse{
      ul{
        position: absolute;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        padding-right: 0px;
        // top: 50px;
        li{
          transition-timing-function: smooth;
          margin: 0px 15px;
          &:first-child{
            // display: none;
            // opacity: 0;
            
            animation: navdown 0.5s 0s ease-out   forwards;
          }
          &:nth-child(2){
            // display: none;
            animation: navdown 0.6s 0.1s ease-out    forwards;
            
          }
          &:nth-child(3){
            // display: none;
            animation: navdown 0.7s 0.2s ease-out    forwards;

          }
          
        }
      }
    }
    .hero{
      padding-top: 75px;
    }


  }
  .vendors{

    .vend{
      justify-content: space-between;
    }
  }
  .swiper-w{
    row-gap: 30px !important;
    justify-content: space-between ;
    // justify-content: space-between;
    // column-gap: 20px;
    .swiper-s {
      .warper .swiper-slide:first-child{
        // margin-right: 2rem;

      }

      img {
        width: 40vw !important;
      }
    }
  }
  .member-wr{
    .swiper-slide{
      display: flex;
      justify-content: end;
      img.img5{
        width: 7rem !important;
      }
    }
  }
    
  footer{


    .row{
      .col-md-2.mt-5,
      .col-md-4.mt-5{
        margin-top: 10px !important;

      }

      .col-md-4:not(:first-child){
        margin-top: 5px;
      }
    }
  }
  
}

@keyframes navdown {
  0%{
    font-size: 0px;
    display: block;
  }
  50%{
    // opacity: 0.5 !important;
    // transform: translateY(-5px);
  }
  100%{
    // opacity: 1 !important;
    font-size: 1.5rem;
          // transform: translateY(0px);

  }
}