
:root{
    --btn-p:#541bb3d1;
    --primaryClr:#0b5ed7;
    
  }


@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=El+Messiri:wght@400;500;600;700&family=Marhey:wght@300;400;500;600;700&family=Noto+Nastaliq+Urdu:wght@400;500;600;700&family=Rakkas&family=Vibes&display=swap');

$primaryClr:#0b5ed7;
// $primaryClr:white;
$grad1:linear-gradient(270deg,#c5cae9 0%,$primaryClr 100%);



.fw-500{
  font-weight: 500 !important;
}


.ray-logo{
  max-width: 50%;
  // width:100%;
  &.mxw5{
    max-width: 40%;

  }
}
.ray-logo2{
  max-width: 100%;
}
.wdth-1{
  max-width: 100%;
}

.vend
{
  img{
    margin-top: 3px;
    border-width: 1px;
    border-color: #00000026;
    border-style: inset;
    border-radius: 10px;
  }
  // &::after{
    // content: "";
    // position: absolute;
    // width: 92%;
    // height: 1px;
    // margin: auto;
    /* display: contents; */
    // background-color: #00000021;
  // }
}
