
:root{
    --btn-p:#541bb3d1;
    --primaryClr:#0b5ed7;
    
  }


@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=El+Messiri:wght@400;500;600;700&family=Marhey:wght@300;400;500;600;700&family=Noto+Nastaliq+Urdu:wght@400;500;600;700&family=Rakkas&family=Vibes&display=swap');
@font-face {
  font-family: 'astra';
  src: url(../wbf/astra.woff)  format("woff");
  
}
$transition: .5s;
$main-color:var(--btn-p);
$primaryClr:#0b5ed7;
// $primaryClr:white;
$grad1:linear-gradient(270deg,#c5cae9 0%,$primaryClr 100%);



.fw-500{
  font-weight: 500 !important;
}
.border-radius-5{
  border-radius: 5px;
}

.ray-logo{
  max-width: 40%;
  // width:100%;
  &.mxw5{
    max-width:20%;}
  &.prons{
    max-width: 30%;

  }
  &.max-sm-25{
    max-width: 22%;  }
  
  &.max-sm-24{
    max-width: 24%;  }
}
.ray-logo2{
  max-width: 50%;
}
.wdth-1{
  max-width: 100%;
}
.max-width-05{
  max-width: 40%;
}
.wdth-02
{
  max-width: 70%;
}
.mt-md-5{
  margin-top: 3rem;
}
@media (max-width:767px) {
  .mt-md-5{
    margin-top: 2rem;
  }
  
    .ray-logo{
      max-width: 40%;
      // width:100%;
      &.mxw5{
        max-width:30%;}
      &.prons{
        max-width: 40%;}
      &.max-50{
        max-width: 50%;}
      
    }
    .ray-logo2{
      max-width: 100%;
    }
    .wdth-1{
      max-width: 100%;
    }
    .max-width-05{
      max-width: 40%;
    }
    .wdth-02
    {
      max-width: 70%;
    }
}


.center{
  align-self: center;
}
.bg-smoth{
  // background-color: #8b939f41;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  // padding-right: 5px;
}
.vis-0{
  opacity: 0;
  // visibility: 0;
}
.sswiper-slide,
// .accordion-body0 h4,

.accordion-body0{
  // margin: 2px;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 10%);
  // background-color: #ffffff;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.form-comp .container {
  padding: 15px;
  -webkit-box-shadow: 0 2px 28px 0 rgb(0 0 0 / 18%);
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 18%);
  border-radius: 10px;
}


.text-body {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.75em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
